# Drakkar-Software requirements
OctoBot[full]==2.1.1

# manage tentacles install path
appdirs==1.4.4

# CLI
click==8.3.1

# versions managed by OctoBot's dependencies
jinja2
aiohttp

# necessary for pip install
wheel
