# Drakkar-Software requirements
OctoBot==1.0.0

# manage tentacles install path
appdirs==1.4.4

# CLI
click==8.1.3

# versions managed by OctoBot's dependencies
jinja2
aiohttp

# necessary for pip install
wheel
